html {
  background: black;
  color: rgb(201, 201, 201);
}

body {
  padding: 10px;
  font-family: sans-serif;
}

.ProseMirror {
  padding: 1em;
}

.ProseMirror:focus {
  outline-style: none;
}

tr.supertitle td.supertitle {
  padding-left: 1em;
  color: white
}

.supertitle p {
  margin: 0;
}